<div class="footer">
  <div class="footer-links">
    <%= link_to "https://blox.education/" do %>
      <%= image_tag "logo_blox.png", class: "img-footer" %>
    <% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> to Blox test.
  </div>
</div>
