<div class="card login-card">
  <div class="card-body">
    <h2 class="card-title text-center"> Salas de Reuniões </h2>
    <p class="text-center">Clique em <strong>DETALHES</strong> para conferir dias e horários disponíveis.</p><br>
      <ul class="list-group">
        <% @rooms.each do |room| %>

            <li class="list-group-item align-center">
              <h4 class="fw-bold text-start">
                <%= room.name %>
                <div class=float-right>
                  <%= link_to 'DETALHES', room, class: "btn-ghost mr-2" %>
                </div>
              </h4>
            </li>

        <% end %>
      </ul><br>

    <%= link_to 'CRIAR SALA DE REUNIÃO', new_room_path, class: "btn-flat float-left" %>
  </div>
</div>

