/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
    margin-top: 0px;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
    font-family: Andale Mono, monospace;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0, 0, 0, 0.3);
}

.slogan h4 {
  font-family: Andale Mono, monospace;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    opacity: 1;
}

.footer .fa-heart {
    color: #D23333;
}

.footer .img-footer {
  width: 100px;
}
